.joinOuterContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.joinInnerContainer {
  background-color: rgba(0, 0, 0, 0.6);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-bottom: 1rem;
}

.joinInput {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  border: none;
  height: 2rem;
  width: 100%;
}

.button {
  font-size: 1.2rem;
  border: 2px solid green;
  height: 2rem;
  width: 100%;
}
