.passOuterContainer {
  width: 100%;
}

.passOuterContainer input {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  border: none;
  height: 3em;
  width: 100%;
  text-indent: 5px;
}

.passbutton {
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(20px);
  border: 2px solid #d91432a4;
  height: 3rem;
  width: 100%;
  font-family: "Abel", sans-serif;
  border-radius: 7px;
  font-weight: bold;
  margin-top: 1rem;
}

.enterRoom {
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(20px);
  border: 2px solid #d91432a4;
  height: 3rem;
  width: 100%;
  font-family: "Abel", sans-serif;
  border-radius: 7px;
  font-weight: bold;
  margin-top: 1rem;
}

a {
  margin: 0;
  padding: 0;
}
